#header-img {
    width: 100%;
    object-fit: cover;
    opacity: .7

}

#header-title {
    color: #ffd500;
    text-shadow: 0 0 3px #343434, 0 0 5px #343434;
    font-size: 5em;
    z-index: 9999;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.new-movie-container {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}

.new-movie {
    width: 100%;
}

#new-movie-btn {
    margin-top: .3em;
}

.header-container {
    position: relative;
}

#test-push {
    margin: .7em;
    justify-content: space-around;
}