body {
    background-color: #757575;
}

* {
    box-sizing: border-box;
}

/*HEADER INFO*/

.header-container {
    padding: 20px;
    position: relative;
    height: 76vh;
}

#header-title {
    text-align: center;
    z-index: 99;
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    text-shadow: 3px 3px #c9bf00;
}

/*CSS FOR FORM*/

#new-movie-form {
    border: 1px solid #fff420;
    background-color: #525252;
    border-radius: 10px;
    padding: 20px;
    width: 50%;
    color: white;
    z-index: 9999;
}
.new-movie {
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    width: 100%;
}

#new-movie-btn {
    background-color: #444;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

#new-movie-btn:hover {
    background-color: #555;
}

/*CARDS FOR MOVIES*/

#test-push {
    margin: .7em;
    justify-content: space-around;
}

.movie-card {
    display: flex;
    justify-content: space-evenly;
    background-color: #525252;
    border: 1px solid #fff420;
    color: white;
}

h5 {
    padding-left: .3em;
}

/*LOADING CONTENT FOR DISPLAY AND BLOCK*/

#loader-container {
    width: 150px;
    height: 150px;
    position: relative;
    margin: auto;
}

#loader {
    display: block;
    border: 20px solid #ffffff;
    border-radius: 50%;
    border-top: 20px solid #00ff15;
    width: 200px;
    height: 200px;
    position: absolute;
    margin-top: 210px;
    top: 0;
    left: 0;
    opacity: 0.7;
    animation: spinner 4s linear infinite;
}

@keyframes spinner {
    0% { transform: rotate(0deg); }
    100%{ transform: rotate(360deg); }
}

#loading-screen {
    z-index: 9999;
    text-transform: uppercase;
    text-align: center;
    margin-top: 300px;
    margin-left: 59px;
    position: absolute;
    color: white;
}

#content {
    display: none;
}


/* Style form labels and inputs */
label {
    font-size: 18px;
    margin-right: 10px;
}

/*EDIT AND DELETE BTNS*/

.delete-btn {
    background-color: #4f4848;
    color: white;
}

.edit-btn {
    background-color: #4f4848;
    color: white;
}

